.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.projects-header {
  width: 100%;
  padding: 25px;
  background-color: var(--ComponentBackground);
  border-radius: 10px;
  box-shadow: 0px 0px 25px -5px var(--Shadow);
}

.projects-header p {
  font-size: 18px;
  color: var(--Text2);
  line-height: 25px;
}

.projects-header a {
  color: var(--Text1);
  transition: 0.3s;
}

.projects-header a:hover {
  color: var(--Text3);
}

.projects-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1400px) {
  .projects-header a:hover {
    color: var(--Text1);
  }
}
