/* LOGO */

.logo {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
}

.logo button {
  display: none;
}

.logo span:nth-child(1) {
  font-size: 30px;
  color: var(--Text1);
}

.logo span:nth-child(2) {
  font-size: 30px;
  color: var(--Text3);
}

.logo span:nth-child(3) {
  color: var(--Text2);
}

/* NAV LINKS */

.nav-links-container {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 100%;
}

.nav-links a {
  text-decoration: none;
  color: var(--Text2);
  font-size: 18px;
  transition: 0.2s;
}

.nav-links a:hover {
  color: var(--Text1);
  text-shadow: var(--Shadow) 0 0 10px;
  transform: scale(105%);
}

.nav-links a.active {
  color: var(--Text3);
}

/* THEME BUTTON  */

.theme-container {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.theme-button {
  background-color: transparent;
  border: none;
  width: 1.6em;
  height: 1.6em;
}

.sun-icon,
.moon-icon {
  cursor: pointer;
  color: var(--Text2);
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.sun-icon:hover,
.moon-icon:hover {
  color: var(--Text1);
  transform: scale(110%);
}

.sun-icon.active,
.moon-icon.active {
  color: var(--Text3);
}

.sun-icon.active:hover,
.moon-icon.active:hover {
  opacity: 70%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border: 1px solid var(--Text3);
  border-radius: 34px;
  transition: 0.3s;
}

.switch:hover {
  transform: scale(105%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--ComponentBackground2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 2px;
  background-color: var(--Text3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--ComponentBackground2);
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:hover {
  opacity: 70%;
}

.slider.round:before {
  border-radius: 50%;
}

/* removing all the hover effects */
@media (max-width: 1400px) {
  .nav-links a:hover {
    color: var(--Text2);
    text-shadow: unset;
    transform: unset;
  }

  .nav-links a.active {
    color: var(--Text3);
  }

  .sun-icon:hover,
  .moon-icon:hover {
    color: var(--Text2);
    transform: unset;
  }

  .sun-icon.active,
  .moon-icon.active {
    color: var(--Text3);
  }

  .sun-icon.active:hover,
  .moon-icon.active:hover {
    opacity: unset;
  }

  .switch:hover {
    transform: unset;
  }

  .slider.round:hover {
    opacity: unset;
  }
}

@media (max-width: 1000px) {
  .logo button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
  }

  .logo button:hover {
    opacity: 60%;
  }

  .logo button svg {
    width: 30px;
    height: 30px;
    color: var(--Text3);
  }

  .nav-links-container {
    position: fixed;
    right: 42px;
    top: 140px;
    flex-direction: column-reverse;
    background-color: var(--ComponentBackground2);
    border-radius: 5px;
    box-shadow: 0px 0px 25px -5px var(--Shadow);
    height: 350px;
    width: 200px;
    padding-block: 50px;
    gap: 20px;
    transition: 0.5s;
    z-index: -10;
  }

  .nav-links {
    flex-direction: column;
    justify-content: space-around;
  }

  .nav-close {
    visibility: hidden;
    right: -200px;
    top: min(45vh, 140px);
    padding-block: min(5vh, 50px);
    height: min(50vh, 350px);
  }

  .nav-open {
    display: flex;
    transform: translateX(0);
    z-index: 10;
    top: min(45vh, 140px);
    padding-block: min(5vh, 50px);
    height: min(50vh, 350px);
  }
}

@media (max-width: 450px) {
  .logo a {
    padding-right: 10px;
  }

  .logo span:nth-child(1) {
    font-size: min(8vw, 30px);
  }

  .logo span:nth-child(2) {
    font-size: min(8vw, 30px);
  }

  .logo span:nth-child(3) {
    font-size: min(8vw, 16px);
  }
}
