:root {
  --Text1: hsl(0, 0%, 10.98%);
  --Text2: hsl(0, 0%, 41%);
  --Text3: hsl(219, 97%, 62%);
  --ComponentBackground: hsla(0, 0%, 100%, 0.9);
  --ComponentBackgroundHover: hsla(0, 0%, 100%);
  --Shadow: hsl(207, 70%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu";
}

.app {
  background-image: url(./assets/images/background/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 1800px;
  display: flex;
  flex-direction: column;
  padding-inline: 25px;
}

/* ::-webkit-scrollbar {
  width: 10px;
  overflow-y: overlay;
}

::-webkit-scrollbar-track {
  background-color: var(--Text1);
  border: 1px solid black;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Text3);
  border: 1px solid black;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
  background-size: 100px;
} */
